<%= form_for(@payment) do |form| %>
  <%= form.text_field :item, :placeholder => 'Example: 5.45 on Subway for lunch' %>
<% end %>

<div id="payments">
  <% if @groups.length > 0 %>
    <% @groups.each do |group, payments| %>
      <h3><%= group %></h3>

      <ul>
        <% payments.each do |payment| -%>
          <li><strong><%= number_to_currency payment.cost %></strong> on <span><%= h truncate(payment.item, :omission => '..', :length => 28) %></span>.</li>
        <% end %>
      </ul>
    <% end %>
  <% else %>
    <h3>Today</h3>

    <ul>
      <li>You have not spent any money yet.</li>
    </ul>
  <% end %>
</div>
