<div id="content">
  <% if @groups.length > 0 %>
    <h2>Search for &#8220;<%= @query %>&#8221;</h2>

    <% @groups.each do |group, expenses| %>
      <h3><%= group %></h3>

      <ul class="expenses">
        <% expenses.each do |expense| -%>
          <li><strong><%= number_to_currency expense.cost %></strong> on <span><%= h expense.item %></span>.</li>
        <% end %>
      </ul>
    <% end %>
  <% else %>
    <h3>Search for &#8220;<%= @query %>&#8221;</h3>

    <p>No results found.</p>
  <% end %>
</div>

<div id="sidebar">
  <%= render :partial => 'sidebar' %>
</div>