<!DOCTYPE html>
<html>
<head>
  <title>Expense - Simple, personal expense tracking.</title>

  <%= stylesheet_link_tag "application" %>
</head>
<body>

<div id="header">
  <div class="container">
    <h1><a href="/">Expense</a></h1>
    <p>Simple, personal expense tracking.</p>

    <% if signed_in? %>
      <ul>
        <li><%= link_to "Settings", edit_user_path(current_user) %></li>
        <li><%= link_to "Sign Out", sign_out_path %></li>
      </ul>

      <% if @payment %>
        <%= form_for(@payment) do |form| %>
          <fieldset>
            <legend>Add a Payment</legend>

            <label for="payment_item">Item</label><br>
            <%= form.text_field :item, :placeholder => "Example: 5.45 on Subway for lunch" %>
            <br>

            <button type="submit">Add</button>
          </fieldset>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div id="content-container">
  <div class="container">
    <%= yield %>
  </div>
</div>

<div id="footer" class="container">
  <% if signed_in? %>
    <%= form_for(:search, :url => payments_path, :html => { :method => :get }) do %>
      <fieldset>
        <legend>Search</legend>

        <label for="query">Query</label><br>
        <input type="text" name="query" id="query" placeholder="Search your expenses.">
        <br>

        <button type="submit">Search</button>
      </fieldset>
    <% end %>
  <% end %>

  <p>
    Created by <a href="http://tristandunn.com">Tristan Dunn</a>.<br>
    Source code <a href="http://github.com/tristandunn/expense">available on GitHub</a>.
  </p>
</div>

</body>
</html>
